.section {
    background-color: rgb(255, 255, 255);
    margin-top: 10px 0;
    box-shadow: 0 0 5px rgb(221, 221, 221);
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;

}

.section__mainPart {
    padding: 20px;
}


.section__BlockButtons {
    display: flex;
    justify-content: center;
}


.section__button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 128, 128);
    font-size: 15px;
    cursor: pointer;


}

.section__body {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);
}